@page
@using Microsoft.Extensions.Options
@using PMS.UI.Options
@inject IOptions<AppSettings> appSettings
@model PMS.UI.Pages.Leaves.CreateModel
@{
    ViewData["Title"] = "Leave Application";
    var apiEndpoint = appSettings.Value.ApiEndpoint;
}

@using System.Security.Claims;
@{
	var employeeId = User.FindFirst(ClaimTypes.Actor)?.Value;
}

@section HeadBlock {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

<div class="page-header">
	<div class="page-title">
		<h4>@ViewData["Title"]</h4>
		<h6>Apply For Leave</h6>
	</div>
</div>

<input name="__RequestVerificationToken" type="hidden" value="@HttpContext.Session.GetString("API_Token")">

<input type="hidden" id="redirectToListing" value="@Url.Page("EmployeeStatus")" />

<div class="row">
	<div class="col-md-4">
		<form method="post" id="frmLeaveDetail">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="CreateLeave.Date" class="control-label"></label>
				<input asp-for="CreateLeave.Date"
					   type="date"
					   class="form-control datepicker" id="lev-date"
					   readonly />
				<span asp-validation-for="CreateLeave.Date" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CreateLeave.LeaveFrom" class="control-label"></label>
				<input asp-for="CreateLeave.LeaveFrom" class="form-control datepicker" id="lev-from" />
				<span asp-validation-for="CreateLeave.LeaveFrom" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CreateLeave.LeaveTo" class="control-label"></label>
				<input asp-for="CreateLeave.LeaveTo" class="form-control datepicker" id="lev-to" />
				<span asp-validation-for="CreateLeave.LeaveTo" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CreateLeave.LeaveTypeId" class="control-label">LeaveType</label>
				<select asp-for="CreateLeave.LeaveTypeId" class="form-control select2 leavetype" id="leave-Type">
					<option value="0">Choose</option>
				</select>
				<span asp-validation-for="CreateLeave.LeaveTypeId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<div class="form-group">
					<label asp-for="CreateLeave.Reason" class="control-label" ></label>
					<textarea asp-for="CreateLeave.Reason" class="form-control" id="leave-reason" rows="2"></textarea>
				</div>
			</div>


			<div class="form-group">
				<input type="submit" value="Send For Approval" class="btn btn-primary" />
			</div>

		</form>
	</div>
</div>

@section ScriptsBlock {
	<partial name="_ValidationScriptsPartial" />
	<script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
	<script type="text/javascript" src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="~/lib/moment.js/moment.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="~/lib/jquery-mask/jquery.mask.min.js"></script>

	<script type="text/javascript">
		$('a[href="/Leaves/Create"]').addClass('active');

		var apiEndpoint = '@apiEndpoint';
		var employeeId = '@employeeId';

		$(document).ready(function () {
			let today = new Date().toISOString().split('T')[0]; 
			$('#lev-date').val(today);
			loadLeaveType();
		});

		$('.ddl-Employees').on('change', function () {
				var selectedId = $(this).val();
				$('#emp-id').val(selectedId);
				console.log(selectedId);
		});

		function loadLeaveType() {
			$.ajax({
				type: 'GET',
				url: apiEndpoint + 'Lookups/GetLeaveTypes',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				headers: {
					'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
				},
				success: function (response) {

					var data = response.data;
					var $select = $('.leavetype');

					$.each(data, function (key, item) {
						$select.append('<option value=' + item.id + '>' + item.name + '</option>');
					});
				}
			})
		}

		$('#frmLeaveDetail').on('submit', function (e) {
			e.preventDefault();

			if (!$('#frmLeaveDetail').valid()) {
				return;
			}
			debugger
			var formData = {
				createDate: $('#lev-date').val(),
				employeeId: employeeId,
				fromDate: $('#lev-from').val(),
				toDate: $('#lev-to').val(),
				leaveTypeId: $("#leave-Type option:selected").val(),
				reason: $('#leave-reason').val(),
			};

			$.blockUI({ baseZ: 1001, message: '<h1>Processing...</h1>' });

			$.ajax({
				type: 'POST',
				url: apiEndpoint + 'Leaves',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				data: JSON.stringify(formData),
				headers: {
					'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
				},
				success: function (data) {
					$.unblockUI();
					if (data.succeeded) {
						toastr.success(data.messages[0]);
						window.setInterval(goBack, 1000);
					}
					else {
						toastr.error(data.message);
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$.unblockUI();
					var errors = JSON.parse(jqXHR.responseText).errors;
					$.each(jqXHR.responseJSON.errors, function (field, message) {
						toastr.error(message);
					});
				}
			}).done(function (result) {
				console.log(result);
			});
		});

		function goBack() {
			window.location.href = $('#redirectToListing').val();
		}

	</script>

}