@page
@using Microsoft.Extensions.Options
@using PMS.UI.Options
@inject IOptions<AppSettings> appSettings

@model PMS.UI.Pages.Employees.DetailModel

@{
    ViewData["Title"] = "View Employee";
    var apiEndpoint = appSettings.Value.ApiEndpoint;
}

@section HeadBlock {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="page-title">
        <h4>@ViewData["Title"]</h4>
    </div>
</div>

<input name="__RequestVerificationToken" type="hidden" value="@HttpContext.Session.GetString("API_Token")">

<form id="frmEmployeeView">

    <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />

    <div class="container-fluid px-4 py-3">
        <div class="card shadow-sm">
            <div class="card-body">

                <!-- BASIC INFO -->
                <div class="card mb-4">
                    <div class="card-header">Basic Information</div>

                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.CreateDate"></label>
                                <input asp-for="Employee.CreateDate" type="date" class="form-control" id="create-date" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.Code"></label>
                                <input asp-for="Employee.Code" class="form-control" id="Employee_Code" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.Name"></label>
                                <input asp-for="Employee.Name" class="form-control" id="Employee_Name" disabled />
                            </div>

                            <div class="col-md-3">
                                <label>Gender</label>

                                <select id="ddlGenderType" class="form-select" disabled>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.NextOfKin"></label>
                                <input asp-for="Employee.NextOfKin" class="form-control" id="Employee_NextOfKin" disabled />
                            </div>

                        </div>
                    </div>
                </div>

                <!-- JOB INFO -->
                <div class="card mb-4">
                    <div class="card-header">Job Information</div>

                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.SupervisorId"></label>
                                <select asp-for="Employee.SupervisorId" class="form-control select2 ddl-Supervisors" disabled> </select>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.DepartmentId"></label>
                                <select asp-for="Employee.DepartmentId" class="form-control select2 ddl-Departments" disabled> </select>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.DesignationId"></label>
                                <select asp-for="Employee.DesignationId" class="form-control select2 ddl-Designations" disabled> </select>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.JoiningDate"></label>
                                <input asp-for="Employee.JoiningDate" type="date" class="form-control" id="join-date" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.LeavingDate"></label>
                                <input asp-for="Employee.LeavingDate" type="date" class="form-control" id="leaving-date" disabled />
                            </div>

                            <div class="col-md-3">
                                <label>Status</label>

                                <select id="ddlJobStatus" class="form-select" disabled>
                                    <option value="1">Permanent</option>
                                    <option value="2">Temporary</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label>Job Status</label>
                                <select id="ddlStatus" class="form-select" disabled>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- CONTACT -->
                <div class="card mb-4">
                    <div class="card-header">Contact Information</div>

                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.PhoneNo1"></label>
                                <input asp-for="Employee.PhoneNo1" class="form-control" id="Employee_PhoneNo1" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.PhoneNo2"></label>
                                <input asp-for="Employee.PhoneNo2" class="form-control" id="Employee_PhoneNo2" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.EmailAddressCompany"></label>
                                <input asp-for="Employee.EmailAddressCompany" class="form-control" id="Employee_EmailAddressCompany" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.EmailAddressPersonal"></label>
                                <input asp-for="Employee.EmailAddressPersonal" class="form-control" id="Employee_EmailAddressPersonal" disabled />
                            </div>

                        </div>
                    </div>
                </div>

                <!-- BANK -->
                <div class="card mb-4">
                    <div class="card-header">Bank Information</div>
                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.BankName"></label>
                                <input asp-for="Employee.BankName" class="form-control" id="Employee_BankName" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.AccountTittle"></label>
                                <input asp-for="Employee.AccountTittle" class="form-control" id="Employee_AccountTittle" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.BankAccountNo"></label>
                                <input asp-for="Employee.BankAccountNo" class="form-control" id="Employee_BankAccountNo" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.IBAN"></label>
                                <input asp-for="Employee.IBAN" class="form-control" id="Employee_IBAN" disabled />
                            </div>

                        </div>
                    </div>
                </div>

                <!-- SALARY -->
                <div class="card mb-4">
                    <div class="card-header">Salary Information</div>

                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.BasicSalary"></label>
                                <input asp-for="Employee.BasicSalary" class="form-control" id="Employee_BasicSalary" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.KPI"></label>
                                <input asp-for="Employee.KPI" class="form-control" id="Employee_KPI" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.Incentive"></label>
                                <input asp-for="Employee.Incentive" class="form-control" id="Employee_Incentive" disabled />
                            </div>

                            <div class="col-md-3">
                                <label>Salary Type</label>
                                <select id="ddlSalaryType" class="form-select" disabled>
                                    <option value="0">Choose</option>
                                    <option value="1">Daily</option>
                                    <option value="2">Weekly</option>
                                    <option value="3">Fortnightly</option>
                                    <option value="4">Monthly</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- CNIC -->
                <div class="card mb-4">
                    <div class="card-header">CNIC Information</div>

                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-3">
                                <label asp-for="Employee.CNICNo"></label>
                                <input asp-for="Employee.CNICNo" class="form-control" id="Employee_CNICNo" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.FullName"></label>
                                <input asp-for="Employee.FullName" class="form-control" id="Employee_FullName" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.FatherOrHusbandName"></label>
                                <input asp-for="Employee.FatherOrHusbandName" class="form-control" id="Employee_FatherOrHusbandName" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.FamilyNo"></label>
                                <input asp-for="Employee.FamilyNo" class="form-control" id="Employee_FamilyNo" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.DateOfBirth"></label>
                                <input asp-for="Employee.DateOfBirth" type="date" class="form-control" id="birth-date" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.DateOfIssue"></label>
                                <input asp-for="Employee.DateOfIssue" type="date" class="form-control" id="issue-date" disabled />
                            </div>

                            <div class="col-md-3">
                                <label asp-for="Employee.DateOfExpiry"></label>
                                <input asp-for="Employee.DateOfExpiry" type="date" class="form-control" id="exp-date" disabled />
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Employee.ExistingAddress"></label>
                                <input asp-for="Employee.ExistingAddress" class="form-control" id="Employee_ExistingAddress" disabled />
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Employee.PermanentAddress"></label>
                                <input asp-for="Employee.PermanentAddress" class="form-control" id="Employee_PermanentAddress" disabled />
                            </div>

                        </div>
                    </div>
                </div>

                <!-- BUTTON -->
                <div class="text-end">
                    <a href="/Employees"
                       class="btn btn-secondary px-4">
                        Back
                    </a>
                </div>

            </div>
        </div>
    </div>

</form>

@section ScriptsBlock {

    <script src="~/lib/select2/js/select2.min.js"></script>

    <script type="text/javascript">
        $('a[href="/Employee"]').addClass('active');
        var apiEndpoint = '@apiEndpoint';

        $(document).ready(function () {

            $.when(
                initEmployees(),
                initDepartments(),
                initDesignations()
            ).done(function () {

                getEmployeeById($('#EmployeeId').val());

            });

        });

        function initEmployees() {

            return $.ajax({
                type: 'GET',
                url: apiEndpoint + 'Employee/GetAll',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
                },
                success: function (response) {

                    var result = response.data.map(function (item) {

                        return {
                            id: item.id,
                            text: item.name
                        };

                    });

                    $('.ddl-Supervisors').select2({
                        data: result,
                        theme: 'bootstrap-5',
                        width: '100%'
                    });

                }
            });

        }

        function initDepartments() {

            return $.ajax({
                type: 'GET',
                url: apiEndpoint + 'Department/GetAll',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
                },
                success: function (response) {

                    var result = response.data.map(function (item) {

                        return {
                            id: item.id,
                            text: item.name
                        };

                    });

                    $('.ddl-Departments').select2({
                        data: result,
                        theme: 'bootstrap-5',
                        width: '100%'
                    });

                }
            });

        }

        function initDesignations() {

            return $.ajax({
                type: 'GET',
                url: apiEndpoint + 'Designation/GetAll',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
                },
                success: function (response) {

                    var result = response.data.map(function (item) {

                        return {
                            id: item.id,
                            text: item.name
                        };

                    });

                    $('.ddl-Designations').select2({
                        data: result,
                        theme: 'bootstrap-5',
                        width: '100%'
                    });

                }
            });

        }

        function getEmployeeById(id) {

            $.ajax({
                type: 'GET',
                url: apiEndpoint + 'Employee/' + id,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    'Authorization': 'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val(),
                },

                success: function (response) {

                    $('#create-date').val(response.createDate.split('T')[0]);
                     $('#Employee_Code').val(response.code);
                     $('#Employee_Name').val(response.name);
                     $('#ddlGenderType').val(response.genderId).trigger('change');
                     $('#Employee_NextOfKin').val(response.nextOfKin);

                     $('.ddl-Supervisors').val(response.supervisorId.toString()).trigger('change');
                     $('.ddl-Departments').val(response.departmentId.toString()).trigger('change');
                     $('.ddl-Designations').val(response.designationId.toString()).trigger('change');
                     $('#join-date').val(response.joiningDate?.split('T')[0] || '');
                     $('#leaving-date').val(response.leavingDate?.split('T')[0] || '');
                     $('#ddlJobStatus').val(response.jobStatusId).trigger('change');
                     $('#ddlStatus').val(response.statusId).trigger('change');

                     $('#Employee_PhoneNo1').val(response.phoneNo1);
                     $('#Employee_PhoneNo2').val(response.phoneNo2);
                     $('#Employee_EmailAddressCompany').val(response.emailAddressCompany);
                     $('#Employee_PermanentAddress').val(response.emailAddressPersonal);

                     $('#Employee_BankName').val(response.bankName);
                     $('#Employee_AccountTittle').val(response.accountTittle);
                     $('#Employee_BankAccountNo').val(response.bankAccountNo);
                     $('#Employee_IBAN').val(response.iban);

                     $('#Employee_BasicSalary').val(response.basicSalary);
                     $('#Employee_KPI').val(response.kpi);
                     $('#Employee_Incentive').val(response.incentive);
                     $('#ddlSalaryType').val(response.salaryTypeId).trigger('change');

                     $('#Employee_CNICNo').val(response.cnicNo);
                     $('#Employee_FullName').val(response.fullName);
                     $('#Employee_FatherOrHusbandName').val(response.fatherOrHusbandName);
                     $('#Employee_FamilyNo').val(response.familyNo);
                     $('#birth-date').val(response.dateOfBirth?.split('T')[0] || '');
                     $('#issue-date').val(response.dateOfIssue?.split('T')[0] || '');
                     $('#exp-date').val(response.dateOfExpiry?.split('T')[0] || '');
                     $('#Employee_ExistingAddress').val(response.existingAddress);
                     $('#Employee_PermanentAddress').val(response.permanentAddress);

                }

            });

        }

    </script>

}
