@page
@using Microsoft.Extensions.Options
@using PMS.UI.Options
@inject IOptions<AppSettings> appSettings

@model IndexModel
@{
    ViewData["Title"] = "User Roles";
    var apiEndpoint = appSettings.Value.ApiEndpoint;
    var pageSize = appSettings.Value.DefaultPageSize;

    // var addCategoryPermission = HasPermission.Get("CategoryAdd", HttpContext);
    // var listCategoryPermission = HasPermission.Get("CategoryList", HttpContext);

}

@section HeadBlock {
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

<input name="__RequestVerificationToken" type="hidden" value="@HttpContext.Session.GetString("API_Token")">

<div class="page-header">
    <div class="page-title">
        <h4>@ViewData["Title"]</h4>
        <h6>Manage User Roles</h6>
    </div>

    <div class="page-btn">
        <a data-toggle="ajax-modal-role" data-url="@Url.Page("Index", "CreateNewRole")" class="btn btn-success text-white btn btn-added">
            <i class="fa fa-plus me-2" data-toggle="tooltip" data-placement="left" title="Add New"></i>
            Add New
        </a>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tblUserRoles">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-placeholder"></div>

@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>


    <script type="text/javascript">
        $('a[href="/Roles"]').addClass('active');

        $(document).ready(function () {
        });

        var $dg = {};
        var oTable;

        var apiEndpoint = '@apiEndpoint';


        $(function () {
            // if (listCategoryPermission) {
                loadData();
            // }
        });

        function loadData() {
            oTable = $('#tblUserRoles').DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                autoWidth: false,
                lengthChange: false,
                pageLength: @pageSize,
                ajax: {
                    url: apiEndpoint + 'Users/GetRoleList',
                    type: 'Get',
                    headers: {
                        'Content-Type': 'application/json',
                        Authorization:
                            'Bearer ' + $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: (data, settings) => {
                        // debugger;
                        var api = new $.fn.dataTable.Api(settings);
                        var pageIndex = api === undefined ? 1 : api.page.info().page + 1;
                        return { PageIndex: pageIndex, PageSize: @pageSize };
                    },
                    dataSrc: function (json) {
                        var totalRows = json.rowCount;
                        json.recordsTotal = totalRows;
                        json.recordsFiltered = totalRows;
                        return json.data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.id);
                },
                columns: [
                    {
                        data: '#',
                        title: '#',
                        sortable: false, width: "10%",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: 'name', defaultContent: 'N/A', width: '90%' }

                ],
                language: {
                    searchPlaceholder: "Search...",
                    search: "",
                    lengthMenu: "_MENU_ &nbsp;items/page"
                }
            });
        }

    </script>

}




